## imports
importFrom(proxy,dist)

## exports
export("gtm.bi")
export("gtm.demo")
export("gtm.dist") 
export("gtm.gbf")
export("gtm.hex") ##This can probably be covered
export("gtm.lbf")
export("gtm.pci")
export("gtm.pci.beta")
export("gtm.pmd")
export("gtm.pmn")
export("gtm.ppd1")
export("gtm.ppd2")
export("gtm.pts")
export("gtm.rctg")  ##This can probably be covered
export("gtm.resp3")
export("gtm.resp6")
export("gtm.ri")
export("gtm.sort")
export("gtm.stp1")
export("gtm.stp2")
export("gtm.trn")
